html {
    padding: 1rem 2rem;;
}



h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

.add_book{
    text-align: right;
}

.form_card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(201, 201, 201);
    box-shadow: 5px 5px 5px black;
}

.new_book_form {
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    border-radius: 10px;
}

.form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.btn {
    margin: auto;
}

.hidden {
    display: none;
}

/* library */
.library {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.book {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: .3fr 2fr 1fr 1fr 1fr;
    border: 2px solid black;
    height: 15rem;
    width: 10rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.book_title {
    font-weight: 800;
}

.btn_remove {
    width: 20%;
    justify-self: right;
}

.green{
    color: green;
}