:root {
    --lighter-blue: rgb(139, 132, 231);
    --blue: rgb(84, 122, 165);
    --background: rgb(255, 255, 255);
    --grey: rgb(201, 201, 201);
    --dark-grey: rgba(145, 145, 145);
    --darker-grey: rgb(55, 55, 55);
}

html, * {

    font-family: 'Quattrocento', serif;
}

header {
    background-color: rgb(214, 223, 226);
    width: 100%;
    padding: 2rem;

}

main {
    padding: 1rem 2rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

button {
    border: 1px solid var(--blue);
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--background);
}

.add_book{
    margin: 2rem 0;
    padding: 1rem 2rem;
}

.form_card {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--grey);
    box-shadow: 0px 0px 6px 5px var(--darker-grey);
    padding: 1rem 2rem;
    border-radius: 5px;
    font-weight: 700;
}

.new_book_form {
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    border-radius: 10px;
}

.form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.form-control input {
    border-radius: 5px;
    border: 1px solid var(--dark-grey)

}

.btn_close{
    justify-self: right;
    background-color: var(--grey);
    color: var(--background);
    font-weight: 900;
    border: none;
    padding: 0;
    margin-bottom: 1rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
}

.btn_submit_style {
    background-color: var(--lighter-blue);
    font-weight: 900;
    font-size: 1rem;
}

.hidden {
    display: none;
}

/* library */
.library {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.book {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: .3fr 2fr 1fr 1fr 1fr;
    border-radius: 10px;
    background-color: var(--grey);
    box-shadow: 0px 0px 6px 5px #373737;
    height: 15rem;
    width: 10rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.book_title {
    font-weight: 800;
}

.btn_remove {
    width: 1rem;
    justify-self: right;
    text-align: center;
    justify-self: right;
    background-color: var(--grey);
    color: var(--background);
    font-weight: 900;
    border: none;
    padding: 0;
    margin-bottom: 1rem;   
}

.btn_read {
    font-weight: 900;
    font-size: 1.2rem;
    margin-top: .3rem;
}

.green{
    background-color: green;
}

.red {
    background-color: red;
}

button:hover{
    cursor: pointer;
}